################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Timesheet/config
/.vs/Timesheet/DesignTimeBuild
/.vs/Timesheet/v17
/Architecture.Tests/bin
/Architecture.Tests/obj
/Timesheet.Application/bin/Debug/net6.0
/Timesheet.Application/obj
/Timesheet.Domain/bin/Debug/net6.0
/Timesheet.Domain/obj
/Timesheet.Infrastructure.Persistence/bin/Debug/net6.0
/Timesheet.Infrastructure.Persistence/obj
/Timesheet.Presentation/obj
/Timesheet.Web.Api/bin/Debug/net6.0
/Timesheet.Web.Api/obj
/Timesheet.Presentation/bin/Debug/net6.0
/TImesheet.BenefitsProcessor/obj
/Timesheet.EmployeesIntegrator/obj
/TImesheet.ReferentialIntegrator/obj
/TImesheet.PayrollsIntegrator/obj
/TImesheet.BenefitsProcessor/bin/Debug/net6.0
/Timesheet.EmailSender/bin/Debug/net6.0
/Timesheet.EmailSender/obj/Debug/net6.0
/Timesheet.EmailSender/obj
/Timesheet.EmployeesIntegrator/bin/Debug/net6.0
/TImesheet.PayrollsIntegrator/bin/Debug/net6.0
/timesheet-develop/timesheet-develop/node_modules
/timesheet-develop/timesheet-develop
/Timesheet.Infrastructure.Dapper/obj
/Timesheet.Infrastructure.Dapper/bin/Debug/net6.0
/Timesheet.Shared.Dapper/obj/Debug/net6.0
/Timesheet.FDPIntegratorService/bin/Debug/net6.0/runtimes
/Timesheet.FDPIntegratorService/bin/Debug/net6.0
/Timesheet.FDPIntegratorService/obj
/Timesheet.Infrastructure.Authentication/obj
/Timesheet.Infrastructure.Authentication/bin/Debug/net6.0
/.vs
/Timesheet.FDPDataIntegrator/bin/Debug/net6.0
/Timesheet.FDPDataIntegrator/obj
/Timesheet.ReadModel/bin
/Timesheet.ReadModel/obj
*.log
/logs/webapi-20221030.log
/Timesheet.Web.Api/Properties/PublishProfiles
/Timesheet.WebApi.Service/obj
