################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Timesheet/config
/.vs/Timesheet/DesignTimeBuild
/.vs/Timesheet/v17
/Architecture.Tests/bin
/Architecture.Tests/obj
/Timesheet.Application/bin/Debug/net6.0
/Timesheet.Application/obj
/Timesheet.Domain/bin/Debug/net6.0
/Timesheet.Domain/obj
/Timesheet.Infrastructure.Persistence/bin/Debug/net6.0
/Timesheet.Infrastructure.Persistence/obj
/Timesheet.Presentation/obj
/Timesheet.Web.Api/bin/Debug/net6.0
/Timesheet.Web.Api/obj
/Timesheet.Presentation/bin/Debug/net6.0
/TImesheet.BenefitsProcessor/obj
/Timesheet.EmployeesIntegrator/obj
/TImesheet.ReferentialIntegrator/obj
/TImesheet.PayrollsIntegrator/obj
/TImesheet.BenefitsProcessor/bin/Debug/net6.0
/Timesheet.EmailSender/bin/Debug/net6.0
/Timesheet.EmailSender/obj/Debug/net6.0
/Timesheet.EmailSender/obj
/Timesheet.EmployeesIntegrator/bin/Debug/net6.0
/TImesheet.PayrollsIntegrator/bin/Debug/net6.0
/timesheet-develop/timesheet-develop/node_modules
/timesheet-develop/timesheet-develop
/Timesheet.Infrastructure.Dapper/obj
/Timesheet.Infrastructure.Dapper/bin/Debug/net6.0
/Timesheet.Shared.Dapper/obj/Debug/net6.0
/Timesheet.FDPIntegratorService/bin/Debug/net6.0/runtimes
/Timesheet.FDPIntegratorService/bin/Debug/net6.0
/Timesheet.FDPIntegratorService/obj
/Timesheet.Infrastructure.Authentication/obj
/Timesheet.Infrastructure.Authentication/bin/Debug/net6.0
/.vs
/Timesheet.FDPDataIntegrator/bin/Debug/net6.0
/Timesheet.FDPDataIntegrator/obj
/Timesheet.ReadModel/bin
/Timesheet.ReadModel/obj
*.log
/logs/webapi-20221030.log
/Timesheet.Web.Api/Properties/PublishProfiles
/Timesheet.WebApi.Service/obj
/logs/webapi-20221029.log
/A faire TImesheet.txt
/Timesheet.Web.Api/efbundle.exe
/logs/webapi-20221029.log
/A faire TImesheet.txt
/src/obj
/Timesheet.Application/bin/Release/net6.0/Timesheet.Application.dll
/Timesheet.Application/bin/Release/net6.0/Timesheet.Application.pdb
/Timesheet.Application/bin/Release/net6.0/Timesheet.Domain.dll
/Timesheet.Application/bin/Release/net6.0/Timesheet.Domain.pdb
/Timesheet.Domain/bin/Release/net6.0/Timesheet.Domain.dll
/Timesheet.Domain/bin/Release/net6.0/Timesheet.Domain.pdb
/Timesheet.FDPDataIntegrator/bin/Release/net6.0
/Timesheet.FDPIntegratorService/bin/Release/net6.0
/Timesheet.Infrastructure.Authentication/bin/Release/net6.0/Timesheet.Application.dll
/Timesheet.Infrastructure.Authentication/bin/Release/net6.0/Timesheet.Domain.dll
/Timesheet.Infrastructure.Authentication/bin/Release/net6.0/Timesheet.Application.pdb
/Timesheet.Infrastructure.Authentication/bin/Release/net6.0/Timesheet.Domain.pdb
/Timesheet.Infrastructure.Authentication/bin/Release/net6.0/Timesheet.Infrastructure.Authentication.dll
/Timesheet.Infrastructure.Authentication/bin/Release/net6.0/Timesheet.Infrastructure.Authentication.pdb
/Timesheet.Infrastructure.Dapper/bin/Release/net6.0/Timesheet.Infrastructure.Dapper.deps.json
/Timesheet.Infrastructure.Dapper/bin/Release/net6.0/Timesheet.Infrastructure.Dapper.pdb
/Timesheet.Infrastructure.Dapper/bin/Release/net6.0/Timesheet.Infrastructure.Dapper.dll
/Timesheet.Infrastructure.Persistence/bin/Release/net6.0/Timesheet.Application.dll
/Timesheet.Infrastructure.Persistence/bin/Release/net6.0/Timesheet.Domain.dll
/Timesheet.Infrastructure.Persistence/bin/Release/net6.0/Timesheet.Infrastructure.Dapper.dll
/Timesheet.Infrastructure.Persistence/bin/Release/net6.0/Timesheet.Domain.pdb
/Timesheet.Infrastructure.Persistence/bin/Release/net6.0/Timesheet.Infrastructure.Persistence.deps.json
/Timesheet.Infrastructure.Persistence/bin/Release/net6.0/Timesheet.Infrastructure.Dapper.pdb
/Timesheet.Infrastructure.Persistence/bin/Release/net6.0/Timesheet.Infrastructure.Persistence.dll
/Timesheet.Infrastructure.Persistence/bin/Release/net6.0/Timesheet.Infrastruture.ReadModel.dll
/Timesheet.Infrastructure.Persistence/bin/Release/net6.0/Timesheet.Infrastructure.Persistence.pdb
/Timesheet.Infrastructure.Persistence/bin/Release/net6.0/Timesheet.Application.pdb
/Timesheet.Infrastructure.Persistence/bin/Release/net6.0/Timesheet.Infrastruture.ReadModel.pdb
/Timesheet.Web.Api/.config
/Timesheet.Web.Api/bin/Release/net6.0/publish
/Timesheet.Web.Api/bin/Release/net6.0/win-x64
/Timesheet.Web.Api/bin/Release/net6.0/appsettings.Development.json
/Timesheet.Web.Api/bin/Release/net6.0/Serilog.AspNetCore.dll
/Timesheet.Web.Api/bin/Release/net6.0/appsettings.json
/Timesheet.Web.Api/bin/Release/net6.0/Serilog.Extensions.Hosting.dll
/Timesheet.Web.Api/bin/Release/net6.0/Serilog.Enrichers.Thread.dll
*.dll
/Timesheet.Web.Api/bin/Release/net6.0/Timesheet.Application.dll
/Timesheet.Web.Api/bin/Release/net6.0/Timesheet.Domain.pdb
/Timesheet.Web.Api/bin/Release/net6.0/Timesheet.Infrastructure.Authentication.pdb
/Timesheet.Web.Api/bin/Release/net6.0/Timesheet.Infrastructure.Dapper.dll
/Timesheet.Web.Api/bin/Release/net6.0/Timesheet.Infrastructure.Persistence.pdb
/Timesheet.Web.Api/bin/Release/net6.0/Timesheet.Infrastructure.Dapper.pdb
/Timesheet.Web.Api/bin/Release/net6.0/Timesheet.Infrastructure.Persistence.dll
/Timesheet.Web.Api/bin/Release/net6.0/Timesheet.Infrastructure.Authentication.dll
/Timesheet.Web.Api/bin/Release/net6.0/Timesheet.Web.Api.deps.json
/Timesheet.Web.Api/bin/Release/net6.0/Timesheet.Infrastruture.ReadModel.dll
/Timesheet.Web.Api/bin/Release/net6.0/Timesheet.Web.Api.exe
/Timesheet.Web.Api/bin/Release/net6.0/Timesheet.Application.pdb
/Timesheet.Web.Api/bin/Release/net6.0/Timesheet.Infrastruture.ReadModel.pdb
/Timesheet.Web.Api/bin/Release/net6.0/Timesheet.Domain.dll
/Timesheet.Web.Api/bin/Release/net6.0/Timesheet.Web.Api.pdb
/Timesheet.Web.Api/bin/Release/net6.0/Timesheet.Web.Api.dll
/Timesheet.Web.Api.ServiceWorker/bin/Debug/net6.0
/Timesheet.Web.Api.ServiceWorker/bin/Release/net6.0/win-x64
/Timesheet.Web.Api.ServiceWorker/bin/Release/net6.0/appsettings.Development.json
/Timesheet.Web.Api.ServiceWorker/bin/Release/net6.0
/Timesheet.Web.Api.ServiceWorker/obj
/Timesheet.Benefits/bin/Debug/net6.0
/Timesheet.Benefits/obj
/Timesheet.Benefits/bin/Release/net6.0
/Timesheet.Web.Api/bin/Release/net6.0/Timesheet.Benefits.pdb

/Timesheet.Application/bin/Release/net6.0/win-x64
/Timesheet.Domain/bin/Release/net6.0/win-x64
/Timesheet.EmailSender/bin/Release/net6.0/win-x64
/Timesheet.FDPIntegratorService/Uploads
/timesheet.frontend/obj/Debug
/timesheet.frontend
/Timesheet.Infrastructure.Authentication/bin/Release/net6.0/win-x64
/Timesheet.Infrastructure.Dapper/bin/Release/net6.0/win-x64/publish
/Timesheet.Infrastructure.Persistence/bin/Release/net6.0/win-x64
/Timesheet.Infrastructure.Dapper/bin/Release/net6.0/win-x64
/Timesheet.Tools.IdGenerator/bin/Debug/net6.0
/Timesheet.Tools.IdGenerator/obj
/Timesheet.Web.Api/bin/Release/net6.0
/Timesheet.Web.Api/TimesheetExport/Paylocity_Timesheet_2022-51H
/efbundle.exe
/efbundle.zip
/Timesheet.EmailService/bin/Debug/net6.0
/Timesheet.EmailService/obj/Debug/net6.0
/Timesheet.EmailService/obj
/Timesheet.Web.Api/bin/Release/net6.0/Serilog.dll
/Timesheet.Web.Api/bin/Release/net6.0/Serilog.dll
/Front/build
/Front/node_modules
